
.vs/ProjectEvaluation/schooldance.metadata.v7.bin
.vs/ProjectEvaluation/schooldance.projects.v7.bin
.vs/SchoolDance/DesignTimeBuild/.dtbcache.v2
.vs/SchoolDance/FileContentIndex/cc0457b4-5003-4994-8971-bb4710d51bc3.vsidx
.vs/SchoolDance/FileContentIndex/e51653e0-eead-4e13-b658-b46da329d0bf.vsidx
.vs/SchoolDance/FileContentIndex/f3a305c8-e49d-4a6c-94a9-442602efff6a.vsidx
.vs/SchoolDance/FileContentIndex/read.lock
.vs/SchoolDance/v17/.futdcache.v2
.vs/SchoolDance/v17/.suo
bin/Debug/net6.0-windows/SchoolDance.deps.json
bin/Debug/net6.0-windows/SchoolDance.dll
bin/Debug/net6.0-windows/SchoolDance.exe
bin/Debug/net6.0-windows/SchoolDance.pdb
bin/Debug/net6.0-windows/SchoolDance.runtimeconfig.json
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/ref/SchoolDance.dll
obj/Debug/net6.0-windows/refint/SchoolDance.dll
obj/Debug/net6.0-windows/SchoolDance.AssemblyInfo.cs
obj/Debug/net6.0-windows/SchoolDance.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/SchoolDance.assets.cache
obj/Debug/net6.0-windows/SchoolDance.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/SchoolDance.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0-windows/SchoolDance.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/SchoolDance.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/SchoolDance.csproj.GenerateResource.cache
obj/Debug/net6.0-windows/SchoolDance.dll
obj/Debug/net6.0-windows/SchoolDance.Form1.resources
obj/Debug/net6.0-windows/SchoolDance.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/SchoolDance.genruntimeconfig.cache
obj/Debug/net6.0-windows/SchoolDance.GlobalUsings.g.cs
obj/Debug/net6.0-windows/SchoolDance.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/SchoolDance.csproj.nuget.dgspec.json
obj/SchoolDance.csproj.nuget.g.props
obj/SchoolDance.csproj.nuget.g.targets
.vs/SchoolDance/FileContentIndex/673d2c91-0d7c-4403-a699-b38f71159be0.vsidx
.vs/SchoolDance/FileContentIndex/c4a9ac7a-7801-4bb7-b118-26e02dfee362.vsidx
